:root {
    --color-black: #242424;
    --color-white: #f4f4f4;
    --color-white-secondary: #ffffff;
    --color-light-grey: #d4d4d4;
    --color-light-grey-secondary: #c6cdd1;
    --color-yellow: #eea10c;

    --color-valid: #4dc274;
    --color-invalid: #ee323d;

    --transition-dur-and-func: 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
    font-family: 'DM Sans';
    src: url('../../fonts/DMSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../../fonts/DMSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../../fonts/DMSans-Italic.woff2') format('woff2');
    font-style: italic;
    font-display: swap;
}

.custom-font {
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

