@import url('./base/helpers.css');
@import url('./base/reset.css');
@import url('./base/variables.css');

@import url('./features/bmi-modal.css');
@import url('./features/exercise-modal.css');
@import url('./features/exercises.css');
@import url('./features/favorites.css');
@import url('./features/footer.css');
@import url('./features/header.css');
@import url('./features/hero.css');
@import url('./features/rating-modal.css');
@import url('./features/scroll-up.css');
